USE [master]
GO
/****** Object:  Database [Parlis]    Script Date: 17/10/2022 12:54:32 p. m. ******/
CREATE DATABASE [Parlis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Parlis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Parlis.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Parlis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Parlis_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parlis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parlis]
GO
/****** Object:  User [parlis]    Script Date: 17/10/2022 12:54:32 p. m. ******/
CREATE USER [parlis] FOR LOGIN [parlis] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [parlis]
GO
/****** Object:  Table [dbo].[Match]    Script Date: 17/10/2022 12:54:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[IdMatch] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[PlayerProfileUsername] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Match] PRIMARY KEY CLUSTERED 
(
	[IdMatch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 17/10/2022 12:54:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[IdPlayer] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PaternalSurname] [nvarchar](50) NOT NULL,
	[MaternalSurname] [nvarchar](50) NOT NULL,
	[EmailAddress] [nvarchar](100) NOT NULL,
	[PlayerProfileUsername] [nvarchar](15) NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[IdPlayer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerProfile]    Script Date: 17/10/2022 12:54:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerProfile](
	[Username] [nvarchar](15) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IsVerified] [bit] NOT NULL,
 CONSTRAINT [PK_PlayerProfile] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_PlayerProfile] FOREIGN KEY([PlayerProfileUsername])
REFERENCES [dbo].[PlayerProfile] ([Username])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_PlayerProfile]
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD  CONSTRAINT [FK_Player_PlayerProfile] FOREIGN KEY([PlayerProfileUsername])
REFERENCES [dbo].[PlayerProfile] ([Username])
GO
ALTER TABLE [dbo].[Player] CHECK CONSTRAINT [FK_Player_PlayerProfile]
GO
USE [master]
GO
